$base-font: arial, sans-serif;
$base-font-size: 1em;
$base-line-height: 1;
$base-color: #ccc;
$base-bgcolor: #000;

body {
  font-family: $base-font;
  color: #cccccc;
  background-color: $base-bgcolor;
  font: $base-font-size;
  line-height: $base-line-height;
}
